body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(194, 137, 235);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todos {
  border-radius: 0 20px 0 0;
  border: 2px solid rgb(224, 222, 222);
}

.delete:hover {
  cursor: pointer;
}
